@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format('truetype'),
  url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
  url("../fonts/OpenSans-CondBold.ttf") format('truetype'),
  url("../fonts/OpenSans-CondLight.ttf") format('truetype'),
  url("../fonts/OpenSans-CondLightItalic.ttf") format('truetype'),
  url("../fonts/OpenSans-ExtraBold.ttf") format('truetype'),
  url("../fonts/OpenSans-ExtraBoldItalic.ttf") format('truetype'),
  url("../fonts/OpenSans-Italic.ttf") format('truetype'),
  url("../fonts/OpenSans-Light.ttf") format('truetype'),
  url("../fonts/OpenSans-LightItalic.ttf") format('truetype'),
  url("../fonts/OpenSans-Regular.ttf") format('truetype'),
  url("../fonts/OpenSans-Semibold.ttf") format('truetype'),
  url("../fonts/OpenSans-SemiboldItalic.ttf") format('truetype');
}
