@import "variables";
@import "fonts";
@import "icons";
@import "checkbox";
@import "grid";
@import "header";
@import "sidebar";
@import "modal";
@import "table";
@import "map";
@import "select";
@import "content";

* {
  box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

html {
  height: 100%;
}
body{
  background-color: $body-bg;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  min-height: 100%;
  color: #3e4550;
  .text{
    font-size: 14px;
  }
}
//.row{
//  margin-right: 0;
//  margin-left: 0;
//  align-items: center;
//}
.offset{
  margin-left: 18.8px;
}
.none{
  display: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary {
  border-color: transparent;
}
.italic{
  font-style: italic;
}
input,button,select,
.form-control {
  height: 42px;
}

.form-control {
  &:focus, &:hover {
    border-color: #603684;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(96,54,132,.25);
  }
}
input,
.form-control:active{
  border-color: #603684;
}
input[type='checkbox'],
select.form-control {
  //height: auto;
}
.popover {
  color: #2e448f;
  border-color: #2e448f;
  .popover-body {
    color: #3e4550;
  }
}
.bs-popover-auto[x-placement^=top] .arrow::before,
.bs-popover-top .arrow::before {
  border-top-color: #2e448f;;
  opacity: 1;
}
.pagination {
  justify-content: flex-end;
  .page-link {
    border-radius: 50%;
    border-color: #e7e7e7;
    color: #3e4550;
    .not-active{
      color: #eaeaea;
    }
  }
}
.page-item {
  margin-right: 5px;

  &:first-child, &:last-child {

    .page-link {
      border-radius: 50%;
      color: #2e448f;
    }
    .not-active{
      color: #eaeaea;
    }
  }

  &.active{
    .page-link {
      background-color: #f3f3f3;
      color: #3e4550;
      border-color: #e7e7e7;
    }
    & ~ :first-child {
      .page-link {
        color: #cbcbcb;
      }
    }
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom:0;
  background-color: transparent;
  border-radius: .25rem;
  li.breadcrumb-item{
    &.active{
      color: #ffffff;
    }
    a{
      color: #a99dc4;
    }

  }
}
div.title-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  .button-back{
    color: #ffffff;
    font-size: 12px;
    padding: 3px 17px;
    border: 1px solid #a99dc4;
    border-radius: 10%;
    text-decoration: none;
    margin-left: 20px;
  }
}
.form-group {
  align-items: center;
}
.form-time {
  display: flex;

  input[type="time"] {
    &.form-control {
      width: auto;
      max-width: 120px;
    }
    &+label {
      margin-left: 1rem;
    }
  }
}

.btn-secondary{
  background-color: #f0eded;
  color: #808080;
  border-color: transparent;
}
.content-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a.btn{
  height: 42px;
  padding: 12px;
  //display: flex;
  //flex-direction: row;
  //align-items: center
}
.table {
  td{
    vertical-align: middle;
  }
}
.sm-lang {
  padding-right: 0;
  max-width: 75px;
}

